language: node_js
node_js:
  - 10

# Step 1: Run commands before installing dependencies.
before_install:
  - cd app

# Step 2: Install dependencies.
#   'npm ci' is essentially a stricter 'npm install', designed for CI use.
install:
  - npm ci

# Step 3: Run commands that require dependencies to be installed.
before_script:
  - npm run build-ts 

# Step 4: Run linter and tests.
script:
#  - tslint --project tsconfig.json
  - npm test
