language: node_js
node_js:
  - 10

# Step 1: Run commands before installing dependencies.
before_install:
  - cd app

# Step 2: Install dependencies.
#   'npm ci' is essentially a stricter 'npm install', designed for CI use.
install:
  - npm install -g typescript
  - npm ci

# Step 3: Run commands with dependencies installed .
before_script:
  - tsc
  - tslint

# Step 4: Run tests.
script:
  - npm test
