body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.unauth{
  background-image: url(../assets/kev-kindred-swans-unsplash.jpg);
  background-repeat: no-repeat;
  background-color: #F4AB3E;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  padding: 50px;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  color: red;
}

/* CSS specific to the header */

.overall-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, #E7A14C, #fadadd ) ;
  padding: 5px 5px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overall-header a{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}

.overall-header .header-spacer{
  flex: 1 0 120px;
}

.overall-header .header-search{
  flex: 1 0 220px;
}

.header-right {
  flex: 0 0 220px;
}

.header-right a img{
  width: 40px;
}

.overall-header .header-left{
  flex: 1 0 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overall-header .header-left a img{
  width: 40px;
}

.overall-header .header-left a {
  font-weight: bold;
  font-size: 30px;
  height: inherit;
  padding: 0;
  flex: 0 0 50px;
}

/* CSS for the footer */
.footer{
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #afeeee , #b19cd9);
  color: white;
  height: 35px;
  align-items: center;
}

.footer li{
  display: inline-block;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.footer li a{
  color: black;
  text-decoration: none;
}

span.spacer{
  padding: 5px;
}

/* Button CSS */
.buttons{
  text-align: center;
}

.buttons a.button, .c-button{
  background-color: #da4b45;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 12px;
  margin: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 250px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-align: center;
}

.buttons a.button:hover, .c-button:hover{
  background-color: #d63630;
  cursor: pointer;
}

/* Specific Header and Body CSS */
.landing-page h1{
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 42px;
  padding: 20px;
}

p.bold{
  font-weight: bold;
}

p.larger{
  font-size: 30px;
}

p.medium{
  font-size: 24px;
}

p.title{
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.pad-top{
  padding-top: 10px;
}

/* Form CSS */
.c-input-field{
  background-color: lightsalmon;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
}

.form-page{
  text-align: center;
  display: inline-block;
  width: 500px;
  border: 3px solid #f1f1f1;
  /* margin-top: 30px; */
}

#dimensions .c-input-field {
  width: 50px;
}

#form, #form2 {
  width: 500px;
  display: block;
  text-align: center;
}

.c-form__heading{
  color: darkgray;
  font-size: 14pt;
  font-weight: bold;
}

form fieldset{
  border: none;
  text-align: center;
  display: block;
}

::placeholder{
  color: white;
}

::-ms-input-placeholder{
  color: white;
}

/* Search Box CSS */
form input#searchbar {
  padding: 6px;
  padding-left: 14px;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  float: left;
  width: 200px;
  background: #f6dcbc;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

form input#searchbar::placeholder{
  color: #555;
}

/* Style the submit button */
form.search button {
  float: left;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}

form.search button img{
  width: 20px;
  position: relative;
  top: 3px;
  right: 30px;
}

/* Profile page CSS */
#bio form .c-button, #phone-number form .c-button{
  background-color: blueviolet;
  padding: 1px 3px;
  display: inline-block;
  border-radius: 8px;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 100px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-align: center;
}

.profile {
  position: relative;
  margin: 10px;
}

.profile .avatar img.user-avatar{
  position: absolute;
  width: 80px;
  border-radius: 50%;
  top: 20px;
  border: 1.5px solid grey;
}

.profile .avatar .edit-pencil{
  position: absolute;
  width: 40px;
  top: 75px;
  left: 75px;
}

.profile .bio{
  position: absolute;
  left: 120px;
  text-align: left;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  width: 75%;
  display: inline-block;
  overflow: hidden;
}

.profile p{
  font-size: 11pt;
  font-weight: normal;
}

.user-owned-photos{
  text-align: center;
  position: absolute;
  top: 350px;
  border: 1px solid #ddd;
  width: 90%;
  margin: 25px;
  padding: 20px;
}

img.edit-pencil{
  width: 20px;
}

.bio-headers{
  font-weight: bold;
  color: darkgrey;
  text-align: left;
  font-size: 14pt;
}

.bio p{
  text-align: left;
}

.lower{
  position: absolute;
  top: 110px;
  text-align: left;
  padding-left: 5px;
  max-width: 115px;
}

.lower p{
  font-weight: bold;
  font-size: 10pt;
}

.location{
  margin: 0px;
}

.photo-box{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: #fff;
  padding: 10px;
  justify-content: space-evenly;
}

.photo-box img{
  max-width: 300px;
}

h3#user-photos-title{
  position: absolute;
  top: 325px;
  padding-left: 25px;
}

/* Error pages CSS */
.error-img{
  text-align: center;
}

.error-page{
  text-align: center;
}

#homer-doh{
  height: 350px;
}

/* Carousel CSS */
.carousel-container div{
  position: relative;
  left: 83px;
  background-color: #ddd;
  max-height: 300px;
  max-width: 690px;
}

.carousel-container div img{
  height: 300px;
  max-width: 550px;
}

.slide{
  display: none;
}

/* Next button CSS */
.next{
  position: relative;
  left: 280px;
  bottom: 250px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  background-color: darkgrey;
}

.next:hover{
  background-color: #444;
}

/* Like button CSS */
.like-button{
  display: none;
  margin-top: 10px;
}

.like{
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid darkgray;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.like:hover{
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.like img{
  width: 75px;
  position: relative;
  top: 5px;
}

/* Like page */
.liked-photos{
  text-align: center;
  border: 1px solid #ddd;
  width: 90%;
  margin: 25px;
  padding: 20px;  
}

button.liked-art{
  background-color: #fff;
  border: none;
}

.liked-art img{
  max-height: 200px;
  cursor: pointer;
}

/* Likes Popup */
.popup{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}