body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.unauth{
  background-image: url(../assets/kev-kindred-swans-unsplash.jpg);
  background-repeat: no-repeat;
  background-color: #F4AB3E;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  padding: 50px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  color: red;
}

/* CSS specific to the header */

.overall-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, #E7A14C, #fadadd ) ;
  padding: 5px 5px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overall-header a{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}

.overall-header .header-spacer{
  flex: 1 0 120px;
}

.overall-header .header-search{
  flex: 1 0 220px;
}

.header-right {
  flex: 0 0 220px;
}

.header-right a img{
  width: 30px;
}

.overall-header .header-left{
  flex: 1 0 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overall-header .header-left a img{
  width: 40px;
}

.overall-header .header-left a {
  font-weight: bold;
  font-size: 30px;
  height: inherit;
  padding: 0;
  flex: 0 0 50px;
}

/* CSS for the footer */
.footer{
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #afeeee , #b19cd9);
  color: white;
  height: 35px;
  align-items: center;
}

.footer li{
  display: inline-block;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.footer li a{
  color: black;
  text-decoration: none;
}

span.spacer{
  padding: 5px;
}

/* Button CSS */
.buttons{
  text-align: center;
}

.buttons a.button, .c-button{
  background-color: #da4b45;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 12px;
  margin: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 250px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-align: center;
}

.buttons a.button:hover, .c-button:hover{
  background-color: #d63630;
  cursor: pointer;
}

/* Specific Header and Body CSS */
.landing-page h1{
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 42px;
  padding: 20px;
}

p.bold{
  font-weight: bold;
}

p.larger{
  font-size: 30px;
}

p.medium{
  font-size: 24px;
}

p.title{
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.pad-top{
  padding-top: 10px;
}

/* Form CSS */
.c-input-field{
  background-color: lightsalmon;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
}

.container{
  text-align: center;
}

.form-page{
  text-align: center;
  display: inline-block;
  width: 500px;
  border: 3px solid #f1f1f1;
  margin-top: 30px;
}

#form {
  width: 500px;
  display: block;
  text-align: center;
}

form fieldset{
  border: none;
  text-align: center;
  display: block;
}

::placeholder{
  color: white;
}

::-ms-input-placeholder{
  color: white;
}

/* Search Box CSS */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 200px;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 70px;
  height: 41px;
  padding: 10px;
  background: #2196F3;
  color: black;
  font-size: 17px;
  border: 1px solid #004080;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example input[type=text]::placeholder{
  color: darkgrey;
}

/* Profile page CSS */
#bio form .c-button, #phone-number form .c-button{
  background-color: blueviolet;
  padding: 1px 3px;
  display: inline-block;
  border-radius: 8px;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 100px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-align: center;
}

.profile .avatar img.user-avatar{
  width: 150px;
  border-radius: 50%;
}
.profile .bio{
  text-align: center;
  margin: 20px;
  border: 1px solid lightgrey;
  width: 75%;
  display: inline-block;
}

.profile p{
  font-size: 12pt;
  font-weight: normal;
}

.user-owned-photos{
  text-align: center;
}

img.edit-pencil{
  width: 40px;
}