body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.unauth{
  background-image: url(../assets/kev-kindred-swans-unsplash.jpg);
  background-repeat: no-repeat;
  background-color: #F4AB3E;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  padding: 50px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  color: red;
}

/* CSS specific to the header */

.overall-header {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #E7A14C, #fadadd ) ;
  padding: 5px 5px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overall-header a{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  /* line-height: 25px; */
  /* border-radius: 4px; */
}

.header-right {
  justify-self: flex-end;
}

.header-right a img{
  width: 30px;
}

.overall-header .header-left a {
  font-weight: bold;
  font-size: 36px;
  height: inherit;
  display: inline-block;
}

.overall-header a:hover {
  background-color: #ddd;
  color: black;
}

.overall-.header a.active {
  background-color: dodgerblue;
  color: white;
}

@media screen and (max-width: 500px) {
  .overall-header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* CSS for the footer */
.footer{
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #afeeee , #b19cd9);
  color: white;
  height: 35px;
  align-items: center;
}

.footer li{
  display: inline-block;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.footer li a{
  color: black;
  text-decoration: none;
}

span.spacer{
  padding: 5px;
}

/* Button CSS */
.buttons{
  text-align: center;
}

.buttons a.button, .c-button{
  background-color: #da4b45;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 12px;
  margin: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 250px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-align: center;
}

.buttons a.button:hover, .c-button:hover{
  background-color: #d63630;
  cursor: pointer;
}

/* Specific Header and Body CSS */
.landing-page h1{
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 42px;
  padding: 20px;
}

p.bold{
  font-weight: bold;
}

p.larger{
  font-size: 30px;
}

p.medium{
  font-size: 24px;
}

p.title{
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.pad-top{
  padding-top: 10px;
}

/* Form CSS */
.c-input-field{
  background-color: lightsalmon;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
}

.form-page{
  text-align: center;
  display: block;
  width: 500px;
  border: 3px solid #f1f1f1;
  margin-top: 30px;
}

#dimensions .c-input-field {
  width: 50px;
}

#form {
  width: 500px;
  display: block;
  text-align: center;
}

form fieldset{
  border: none;
  text-align: center;
  display: block;
}

::placeholder{
  color: white;
}

::-ms-input-placeholder{
  color: white;
}