<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404</title>
</head>

<body>
  <div class="404-page">
    <h1>We know you're looking for something, but it's not this!</h1>
    <h6><a href="/">Home</a></h6>
  </div>
</body>

</html>