<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TindArt</title>
  <link rel="icon" type="image" href="../assets/icons8-fire-30.png" />
</head>

{{> header}} {{! This is the header that will be on almost all of the pages }}

<body>
  <!-- Edit bio button / form dynamically created in below div -->
  <div class="profile">
    <span class="avatar">
    <div>
      {{#avatar}}
        <img src={{avatar}} class="user-avatar" alt="User Avatar" />
      {{/avatar}}
      {{^avatar}}
        <img src="../assets/icons8-user-80-big.png" class="user-avatar" alt="User Avatar" />
      {{/avatar}}
      <a href="/upload"><img src="../assets/icons8-pencil-64.png" class="edit-pencil" alt="Edit" /></a>
      </div>
      <div class="lower">
        <p>{{name}}</p>
        <p>{{username}}</p>
        <p class="location">{{city}}, {{province}}</p>
      </div>
    </span>
    <span class="bio">
      <p class="bio-headers">Biography <span id="bio"></span></p> 
      {{#bio}}
        <p>{{bio}}</p>
      {{/bio}}
      {{^bio}}
        <p>Click the edit pencil above to add a bio to your profile!</p>
      {{/bio}}
      <p class="bio-headers">Phone Number <span id="phone-number"></span></p>
      {{#phoneNumber}}
        <p>{{phoneNumber}}</p>
      {{/phoneNumber}}
      {{^phoneNumber}}
        <p>Click the edit pencil above to add a phone number!</p>
      {{/phoneNumber}}
    </span>
  </div>
  <h3 id="user-photos-title">
    Your Artwork <span class="spacer"></span>
    <a href="/upload"><img src="../assets/icons8-pencil-64.png" class="edit-pencil" alt="Edit" /></a>
  </h3>
  <div class="user-owned-photos">
    <div class="photo-box">
        {{#photoURLs}}
        <div class="photo"><img src={{.}} /></a></div>
        {{/photoURLs}}
    </div>
  </div>
  <h4>{{messages.serverError}}</h4>
</body>

<!-- JS for Bio Edit Field  -->
<script>
  document.onload = buildEditBioBtn();

  function buildEditBioBtn() {
    document.getElementById('bio').innerHTML +=
      '<span id="edit-bio">' +
      '<a href="" onclick="handleEditBioBtnClick(event);">'+
      '<img src="../assets/icons8-pencil-64.png" class="edit-pencil" /></a>' +
      '{{messages.bioError}}' +
      '</span>';
  }

  function buildEditBioForm() {
    document.getElementById('bio').innerHTML +=
      '<form id="update-bio-form" action="/api/user/updateBio" method="post">' +
      '<input type="submit" hidden="true" />' + // This form field enables form submission when 'enter' is pressed and focus is on textbox
      '<div class="c-form__row">' +
      '<input type="text" name="bio" id="bio-input" class="c-input-field" value="" autocorrect="off" maxlength="255" required />' +
      '</div>' +
      '<span class="c-form__row">' +
      '<button class="c-button" onclick="handleCancelEditBioBtnClick(event);" type="submit">Cancel</button>' +
      '</span>' +
      '<span class="c-form__row">' +
      '<button class="c-button" type="submit">Save</button>' +
      '</span>' +
      '</form>'
  }

  function handleEditBioBtnClick(e) {
    e.preventDefault();

    document.getElementById('edit-bio').remove(); // Delete edit bio button on DOM
    buildEditBioForm();
  }

  function handleCancelEditBioBtnClick(e) {
    e.preventDefault();

    document.getElementById('update-bio-form').remove(); // Delete edit bio form on DOM
    buildEditBioBtn();
  }
</script>

<!-- JS for Phone Number Edit Field  -->
<script>
  document.onload = buildEditPhoneNumBtn();

  function buildEditPhoneNumBtn() {
    document.getElementById('phone-number').innerHTML +=
      '<span id="edit-phone-number">' +
      '<a href="" onclick="handleEditPhoneNumBtnClick(event);">' +
      '<img src="../assets/icons8-pencil-64.png" class="edit-pencil" /></a>' +
      '{{messages.phoneNumberError}}' +
      '</span>';
  }

  function buildEditPhoneNumForm() {
    document.getElementById('phone-number').innerHTML +=
      '<form id="update-phone-number-form" action="/api/user/updatePhoneNumber" method="post">' +
      '<input type="submit" hidden="true" />' + // This form field enables form submission when 'enter' is pressed and focus is on textbox
      '<div class="c-form__row">' +
      '<input type="tel" name="phoneNumber" id="bio-input" class="c-input-field" value="" autocorrect="off" maxlength="10" required />' +
      '</div>' +
      '<span class="c-form__row">' +
      '<button class="c-button" onclick="handleCancelEditPhoneNumBtnClick(event);" type="submit">Cancel</button>' +
      '</span>' +
      '<span class="c-form__row">' +
      '<button class="c-button" type="submit">Save</button>' +
      '</span>' +
      '</form>'
  }

  function handleEditPhoneNumBtnClick(e) {
    e.preventDefault();

    document.getElementById('edit-phone-number').remove(); // Delete edit phone number button on DOM
    buildEditPhoneNumForm();
  }

  function handleCancelEditPhoneNumBtnClick(e) {
    e.preventDefault();

    document.getElementById('update-phone-number-form').remove(); // Delete edit phone number form on DOM
    buildEditPhoneNumBtn();
  }
</script>

</html>