<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>
  <link rel="icon" type="image" href="../assets/icons8-fire-30.png" />
</head>

{{> header}} {{! This is the header that will be on almost all of the pages }}

<body>
  <div class="error-page">
    <h1>Whoops, something has gone wrong!</h1>
    <h2>{{messages.serverError}}</h2>
    <h3>Sorry about that!</h3>
    <img id="homer-doh" src="../assets/homer-doh.png" alt="Home Doh Error" />
  </div>
</body>

{{> footer}}
</html>