<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TindArt</title>
  <link rel="icon" type="image" href="../assets/icons8-fire-80.png" />
</head>

{{> header}} {{! This is the header that will be on almost all of the pages }}

<body>
  <div class="container">
    <!-- Only users which are logged in are shown this home page, otherwise index -->
    <div class="carousel-container">
      <div class="carousel my-carousel carousel--translate">
      <ul>
        {{#artpieces}}
          <li id={{artId}}><img src={{url}} alt="artwork {{artId}}" /></li>
        {{/artpieces}}
      </ul>
      </div>
     {{!  .carousel.my-carousel.carousel--translate
    - var panels = ['F', 'G', 'H', 'I', 'J']
    each val in panels
      input.carousel__activator(type="radio", name="carousel", id=val, checked=(val == panels[0]))
    each val, idx in panels
      .carousel__controls
        label.carousel__control.carousel__control--backward(for=`${(idx == 0) ? panels[panels.length - 1] : panels[idx - 1]}` )
        label.carousel__control.carousel__control--forward(for= `${(idx == panels.length - 1) ? panels[0] : panels[idx + 1]}`)
    .carousel__track
      each val in panels
        li.carousel__slide
          h1= val
    .carousel__indicators
      each val in panels
        label.carousel__indicator(for=val) }}
    </div>
    <h3><a href="/user/{{username}}">Your Profile</a></h3>
    <h3><a href="/api/logout">Log Out?</a></h3>
    <h3><a href="/upload">Upload Photo?</a></h3>
  </div>
</body>

{{> footer}}
</html>