<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TindArt</title>
</head>

<body>
  <!-- Only users which are logged in are shown this home page, otherwise index -->
  <h1>TindArt</h1>
  <p>Welcome {{name}}</p>
  <h3><a href="/api/logout">Log Out?</a></h3>
  <h3><a href="/upload">Upload Photo?</a></h3>
</body>

</html>