<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TindArt</title>
  <link rel="icon" type="image" href="../assets/icons8-fire-80.png" />
</head>

{{! No header for unauthenticated landing page }}

<body class="unauth">
  <div class="landing-page">
    <h1>TindArt</h1>
    <div class="buttons">
      <a href="/login" class="button">Log In</a>
      <br />
      <a href="/register" class="button">Sign Up</a>
    </div>
    <p class="bold larger">Paintings. Photography. Sculptures.</p>
    <p class="bold medium">At your fingertips.</p>
  </div>
</body>

{{! No footer }}

</html>