<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TindArt</title>
  <link rel="icon" type="image" href="../assets/icons8-fire-80.png" />
</head>

{{> header}}
<body>
  <p>Your Likes</p>
  <div>
      <div class="liked-photos">
        <div class="photo-box">
            {{#photoURLs}}
            <div class="photo">
                <button type="button" class="liked-art" onclick="openpopup({{artworkId}})">
                    <img src={{url}} alt="Like image" />
                </button>
            </div>
            <div class="popup" id={{artworkId}}>
                <div class="popup-content">
                    <span class="close" onclick="close({{artworkId}})">&times;</span>
                    <div class="title">
                        <h2>{{title}}</h2>
                    </div>
                    <div class="text">
                        <p>{{description}}</p>
                        <p>{{price}}$</p>
                    </div>
                </div>
            </div>
            {{/photoURLs}}
            {{^photoURLs}}
            You have not liked any photos, check out the home page to <a href="/">browse</a> artwork.
            {{/photoURLs}}
        </div>
    </div>
  </div>

  <h4>{{messages.serverError}}</h4>
</body>

<script type="text/javascript">

function openpopup(id){
    var popup = document.getElementById(id);
    popup.style.display = "block";
}


function close(id) {
    var popup = document.getElementById(id);
    popup.style.display = "none";
}

/* window.onclick = function(event) {
  if (event.target == popup) {
    popup.style.display = "none";
  }
} */
</script>

{{> footer}}
</html>