<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TindArt</title>
  <link rel="icon" type="image" href="../assets/icons8-fire-80.png" />
</head>

{{> header}}
<body>
  <h1>Your Likes</h1>
  <div>
      <div class="liked-photos">
        <div class="photo-box">
            {{#photos}}
            <div class="photo">
                <button type="button" id={{artworkId}} class="liked-art" onclick="openpopup(event, this.id)">
                    <img src={{url}} alt="Like image" />
                </button>
            </div>
            <div class="popup" id="pop{{artworkId}}">
                <div class="popup-content">
                    <a href="" class="close" id="{{artworkId}}2" onclick="close(event, this.id)">&times;</a>
                    <div class="title">
                        <h2>{{title}}</h2>
                    </div>
                    <div class="text">
                        <div class="popup-header">Description: </div>
                        <p class="popup-body">{{description}}</p>
                        <div class="popup-header">Price: </div>
                        <p class="popup-body">{{price}} $</p>
                        <div class="popup-header">Location: </div>
                        <p class="popup-body">{{city}}, {{province}}</p>
                        <div class="popup-header">Dimensions: </div>
                        <p class="popup-body">{{dimensions}}</p>
                    </div>
                </div>
            </div>
            {{/photos}}
            {{^photos}}
            You have not liked any photos, check out the home page to <a href="/">browse</a> artwork.
            {{/photos}}
        </div>
    </div>
  </div>

  <h4>{{messages.serverError}}</h4>
</body>

<script type="text/javascript">

function openpopup(e, id){
    e.preventDefault();
    id="pop"+id;
    var popup = document.getElementById(id);
    popup.style.display = "block";
}

function close(e, id) {
    e.preventDefault();
    console.log(id)
    id = id.substring(0, id.length-1);
    id = "pop" +id;
    var popup = document.getElementById(id);
    popup.style.display = "none";
}

/* TODO: allow click outside of popup to close it */
/* window.onclick = function(event) {
  if (event.target == popup) {
    popup.style.display = "none";
  }
} */
</script>

{{> footer}}
</html>