<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TindArt</title>
</head>

<body>
  <p>This is {{name}}'s profile</p>
  <p>{{city}}, {{province}}</p>
  <h6>{{bio}}</h6>

  <div>
    <ul>
      <h3>{{name}}'s Photos :)</h3>
      {{#photoURLs}}
      <li><img src={{.}} height="400"></a></li>
      {{/photoURLs}}
    </ul>
  </div>
</body>

</html>